<% provide(:title, 'Home') %>

<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>

<div id="cbd13b20001b126b4e375e45b3922d"><a href="http://www.caspio.com" target="_blank">Online Database</a> by Caspio</div>
<script type="text/javascript" src="https://b5.caspio.com/scripts/e1.js"></script>
<script type="text/javascript" language="javascript">try{f_cbload("d13b20001b126b4e375e45b3922d","https:");}catch(v_e){;}</script>
<div id="cxkg"><a href="https://b5.caspio.com/dp.asp?AppKey=d13b20001b126b4e375e45b3922d">Click here</a> to load this Caspio <a href="http://www.caspio.com" title="Online Database">Online Database</a>.</div>

<br>
<br>
<div id="cbd13b20005e480bca144c46c0b878"><a href="http://www.caspio.com" target="_blank">Online Database</a> by Caspio</div>
<script type="text/javascript" src="http://b5.caspio.com/scripts/e1.js"></script>
<script type="text/javascript" language="javascript">try{f_cbload("d13b20005e480bca144c46c0b878","http:");}catch(v_e){;}</script>
<div id="cxkg"><a href="http://b5.caspio.com/dp.asp?AppKey=d13b20005e480bca144c46c0b878">Click here</a> to load this Caspio <a href="http://www.caspio.com" title="Online Database">Online Database</a>.</div>

